@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    /* Primario */
    --azul-muy-oscuro: hsl(243, 87%, 12%);
    --azul-desaturado: hsl(238, 22%, 44%);
  
    /* Acento */
    --azul-brillante: hsl(224, 93%, 58%);
    --cian-moderado: hsl(170, 45%, 43%);
  
    /* Neutral */
    --azul-grisaceo-claro: hsl(240, 75%, 98%);
    --gris-claro: hsl(0, 0%, 75%);
}

*{
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
   
    
}
nav,h3,form,input,.btn-started{
    font-family: "Raleway", sans-serif;
}

p{
    font-size: 16px;
}

.container{
    max-width: 350px;
    margin: auto;
    text-align: center;
    padding-inline: 12px;
}


header .container{
    display: flex;
    justify-content: space-between;
    padding-top: 1.5em;
    padding-bottom: 5.5em;
}
header .logo{
    width: 86px; 
}
header img{
    width: 100%; 
}
header a{
    color: var(--azul-muy-oscuro);
    font-size: 12px;
    margin-inline: 10px;
}

.sign-in .img-1 img{
    width: 100%;
    object-fit: contain;
}
.sign-in .content{
    color: var(--azul-muy-oscuro);
    padding-top: 2.5em;
}
.sign-in p{
    padding: 2em 0;
}
form{
    display: flex;
    flex-direction: column;
}
form input{
    height: 40px;
    width: 100%;
    border: 1px solid var(--azul-desaturado);
    border-radius: 4px;
    padding-left: 20px;
}

.sign-in input[type="email"]:invalid {
    border: 1px solid #f35175;
}
#error-message{
    display: none;
}
.sign-in #error-message {
    display: none;
    font-family: "Raleway", sans-serif;
    color: #f35175;
    font-size: 12px;
}
.sign-in input[type="email"]:invalid + #error-message {
    display: block;
}
form button{
    margin-top: 14px;
    height: 40px;
    border: none;
    border-radius: 4px;
    background-color: var(--azul-brillante);
    color: white;
    font-weight: 600;
    box-shadow: 0px 2px 6px hsla(0, 0%, 0%, 0.4);
    cursor: pointer;
}
form button:hover{
    background-color:hsl(220.54deg 100% 70.98%);
    transition: all 0.3s ease-in-out;
}
.sign-in .bg-desktop{
    display: none;
}
.sign-in .bg-movile{
    width: 100%;
    margin-top: 5em;
}

.features{
    background-color: hsl(240deg 75% 98.43%);
    margin-top: -5px;
}
.features .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 4.5em;
}
.features .img-2 img{
    width: 100%;
    object-fit: contain;
}

.features .content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.features .content h3{
    text-align: center;
    color: var(--azul-muy-oscuro);
    margin-top: 4.5em;
    margin-bottom: 1.5em;
}
.features .content .text p{
    text-align: center;
    margin-bottom: 10px;
    
}
.features .btn-filo{
    width: fit-content;
    border: none;
    background: none;
    margin: 2.5em 0;
    cursor: pointer;
}
.features .btn-filo .text:hover{
    filter: brightness(0) saturate(100%) invert(91%) sepia(35%) saturate(551%) hue-rotate(92deg) brightness(95%) contrast(90%);
    transition: all 0.3s ease-in-out;
}
.features .btn-filo .text{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    color: var(--cian-moderado);
    border-bottom: 1px solid var(--cian-moderado);
}
.features .btn-filo .arrow{
    padding-left: 10px;
}
.features .card{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 2px 14px hsla(0, 0%, 0%, 0.15);
    width: 310px;
    border-radius: 4px;
    padding: 18px 6px 18px 24px;
    background-color: white;
    margin-top: 0.5em 
}
.features .card .image{
    text-align: left;
}
.features .card p{
    text-align: left;
    font-size: 12px;
}
.features .data-user {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 14px;
}
.features .data-user .image{
    width: 26px;
    height: 26px;
}
.features .data-user img{
    width: 100%;
    border-radius: 50%;
}
.features .data-user p{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    font-size: 7px;
}
.features .data-user span{
    font-weight: bold;
    font-size: 11px;
}

.sing-up{
    background-color: #575988;
}
.sing-up .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 4em;
}
.sing-up .content{
    margin: 3.5em 0 2em 0;
    color: white;
}
.sing-up .content p{
    margin-top: 1em;
    padding-inline: 1em;
}
.sing-up form{
    width: 260px;
}
.sing-up form input{
    border: none;
    border-radius: 1px;
    padding-left: 10px;
    height: 34px;
    font-size: 11px;
}
.sing-up input[type="email"]:invalid {
    border: 1px solid #f35175;
}

.sing-up #error-message {
    display: none;
    font-family: "Raleway", sans-serif;
    color: white;
    font-size: 12px;
}
.sing-up input[type="email"]:invalid + #error-message {
    display: block;
}
.sing-up form button{
    margin-top: 10px;
    height: 34px;
    box-shadow: none;
    font-size: 11px;
    border-radius: 2px;
}

footer{
    background-color: var(--azul-muy-oscuro);
}
footer .container{
    text-align: left;
    padding: 3.5em 1.5em;
}
footer .logo{
    margin-bottom: 2.5em;
    filter: brightness(0) saturate(100%) invert(97%) sepia(62%) saturate(30%) hue-rotate(241deg) brightness(108%) contrast(100%);
}
footer .phone, footer .email{
    display: flex;
    margin-bottom: 1.5em;
}
footer .phone p, footer .email p{
    padding-left: 16px;
    color: white
}
footer .phone img, footer .email img{
    object-fit: none;
}
footer ul{
    display: flex;
    flex-direction: column;
    margin-top: 3.5em;
    padding: 0;
}
footer a{
    margin-bottom: 16px;
    color: white;
}
footer a:hover{
    color: #575988;
    transition: all 0.3s ease-in-out;
}
footer .media{
    margin-top: 1.5em;
    text-align: center;
}
footer .media img{
    width: 30px;
    filter: brightness(0) saturate(100%) invert(97%) sepia(62%) saturate(30%) hue-rotate(241deg) brightness(108%) contrast(100%);
    margin-inline: 4px;
}
footer .media img:hover{
    filter: brightness(0) saturate(100%) invert(39%) sepia(3%) saturate(5761%) hue-rotate(200deg) brightness(87%) contrast(88%);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
    color: hsl(228, 45%, 44%);
}
.attribution a { 
    transition: all 0.3s ease-in-out;
    color: white; 
}
.attribution a:hover{
    color: hsl(224.1deg 93.46% 58.04%);
}

@media (min-width:720px) {
    .container{
        max-width: 1300px;
        margin: auto;
        padding-inline: 24px;
        text-align: left;
    }
    header .container{
        padding-bottom: 3.5em;
    }
    header .logo {
        width: 120px;
    }
    
    .sign-in .container{
        display: flex;
        flex-direction: row-reverse;
    }
    .sign-in .img-1{
        width: 100%;
        display: flex;
        min-width: 100px;
    }
    .sign-in h1{
        font-size: 38px;
    }
    .sign-in p {
        padding: 16px 54px 16px 0;
        font-size: 17px;
    }
    .sign-in form{
        flex-direction: row;
    }
    .sign-in input{
        width: 300px;
    }
    .sign-in button{
        margin-top: 0;
        margin-left: 20px;
        width: 200px;
    }
    .sign-in .bg-movile{
        display: none;
    }
    .sign-in .bg-desktop{
        display: block;
        width: 100%;
        margin-top: 5em;
    }

    .features .container{
        display: flex;
        flex-direction: row-reverse;
    }
    .features .img-2{
        width: 60%;
        display: flex;
        min-width: 100px;
    }
    .features .content{
        align-items: flex-start;

    }
    .features .content h3{
        margin-top: 1.5em;
        font-size: 38px;
        text-align: left;
        width: 16.5em;
    }
    .features .content .text p{
        width: 32.5em;
        font-size: 17px;
        text-align: left;
    }
    .features .btn-filo{
        margin: 0;
        margin-bottom: 2em;
    }

    .sing-up .container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 2.5em;
        padding-right: 4.5em;
    }
    .sing-up .content p{
        width: 500px;
        padding-inline: 0;
    }
    .sing-up h3{
        font-size: 28px;
    }
    .sing-up form {
        width: 400px;
    }
    .sing-up form button {
        margin-top: 10px;
        height: 34px;
        width: 160px;
        box-shadow: none;
        font-size: 11px;
        border-radius: 2px;
        box-shadow: 0px 2px 6px hsla(0, 0%, 0%, 0.4);
    }
    
    footer .container{
        display: flex;
        padding: 4em 1.5em;
        justify-content: space-between;
    }
    footer ul{
        margin-top: 5.9em;
        padding: 0;
    }
    footer .media{
        display: flex;
        text-align: center;
        padding-right: 6em;
    }
    footer .media img{
        object-fit: contain;
    }
}