@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    /* Primario */
    --azul-muy-oscuro: hsl(243, 87%, 12%);
    --azul-desaturado: hsl(238, 22%, 44%);
  
    /* Acento */
    --azul-brillante: hsl(224, 93%, 58%);
    --cian-moderado: hsl(170, 45%, 43%);
  
    /* Neutral */
    --azul-grisaceo-claro: hsl(240, 75%, 98%);
    --gris-claro: hsl(0, 0%, 75%);
}

*{
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
   
    
}
nav,h3,form,input,.btn-started{
    font-family: "Raleway", sans-serif;
}

p{
    font-size: 16px;
}
.bg-desktop, .bg-movile{
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.container{
    max-width: 350px;
    margin: auto;
    text-align: center;
}


header .container{
    display: flex;
    justify-content: space-between;
    padding-top: 1.5em;
    padding-bottom: 5.5em;
}
header .logo{
    width: 86px; 
}
header img{
    width: 100%; 
}
header a{
    color: var(--azul-muy-oscuro);
    font-size: 12px;
    margin-inline: 10px;
}

.sign-in .img-1 img{
    width: 100%;
}
.sign-in .content{
    color: var(--azul-muy-oscuro);
    padding-top: 2.5em;
}
.sign-in p{
    padding: 2em 0;
}
#error-message{
    display: none;
}
form{
    display: flex;
    flex-direction: column;
}
form input{
    height: 40px;
    border: 1px solid var(--azul-desaturado);
    border-radius: 4px;
    padding-left: 20px;
}
form input[type="email"]:invalid {
    border: 2px solid red;
}
  
form input[type="email"]:valid {
    border: 2px solid green;
}

form #error-message {
    display: none;
    color: red;
    font-size: 14px;
}

form input[type="email"]:invalid + #error-message {
    display: block;
}
form button{
    margin-top: 14px;
    height: 40px;
    border: none;
    border-radius: 4px;
    background-color: var(--azul-brillante);
    color: white;
    font-weight: 600;
    box-shadow: 0px 2px 6px hsla(0, 0%, 0%, 0.4);
    cursor: pointer;
}
form button:hover{
    background-color:hsl(220.54deg 100% 70.98%);
}
.sign-in .bg-desktop{
    display: none;
}
.sign-in .bg-movile{
    width: 100%;
    margin-top: 5em;
}

.features, .team{
    background-color: hsl(240deg 75% 98.43%);
}
.features{
    margin-top: -5px;
}
.features .img-2 img{
    width: 100%;
}

.features .content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.features .content h3{
    text-align: center;
    color: var(--azul-muy-oscuro);
    margin-top: 4.5em;
    margin-bottom: 1.5em;
}
.features .content p{
    text-align: left;
    margin-bottom: 10px;
}
.features .btn-filo{
    width: fit-content;
    border: none;
    background: none;
    margin: 2.5em 0;
    cursor: pointer;
}
.features .btn-filo .text:hover{
    filter: brightness(0) saturate(100%) invert(91%) sepia(35%) saturate(551%) hue-rotate(92deg) brightness(95%) contrast(90%);;
    
}
.features .btn-filo .text{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    color: var(--cian-moderado);
    border-bottom: 1px solid var(--cian-moderado);
}
.features .btn-filo .arrow{
    padding-left: 10px;
}


.team{
    margin-top: -4px;
    padding-bottom: 80px;
}
.team .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.team .card{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 2px 14px hsla(0, 0%, 0%, 0.15);
    width: 310px;
    border-radius: 4px;
    padding: 18px 6px 18px 24px;
    background-color: white;
    margin-top: 0.5em 
}
.team .card .image{
    text-align: left;
}
.team .card p{
    text-align: left;
    font-size: 12px;
}
.team .data-user {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 14px;
}
.team .data-user .image{
    width: 26px;
    height: 26px;
}
.team .data-user img{
    width: 100%;
    border-radius: 50%;
}
.team .data-user p{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    font-size: 7px;
}
.team .data-user span{
    font-weight: bold;
    font-size: 11px;
}

.sing-up{
    background-color: #575988;
}
.sing-up .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 4em;
}
.sing-up .content{
    margin: 3.5em 0 2em 0;
}
.sing-up .content p{
    margin-top: 1em;
    padding-inline: 1em;
}
.sing-up form{
    width: 260px;
}
.sing-up form input{
    border: none;
    border-radius: 1px;
    padding-left: 10px;
    height: 34px;
    font-size: 11px;
}
.sing-up form button{
    margin-top: 10px;
    height: 34px;
    box-shadow: none;
    font-size: 11px;
    border-radius: 2px;
}
footer{
    background-color: var(--azul-muy-oscuro);
}
footer .container{
    text-align: left;
    padding: 3.5em 1.5em;
}
footer .logo{
    margin-bottom: 2.5em;
    filter: brightness(0) saturate(100%) invert(97%) sepia(62%) saturate(30%) hue-rotate(241deg) brightness(108%) contrast(100%);
}
footer .phone, footer .email{
    display: flex;
    margin-bottom: 1.5em;
}
footer .phone p, footer .email p{
    padding-left: 16px;
    color: white
}
footer .phone img, footer .email img{
    object-fit: none;
}
footer ul{
    display: flex;
    flex-direction: column;
    margin-top: 3.5em;
    padding: 0;
}
footer a{
    margin-bottom: 16px;
    color: white;
}
footer a:hover{
    color: #575988;
}
footer .media{
    margin-top: 1.5em;
    text-align: center;
}
footer .media img{
    width: 30px;
    filter: brightness(0) saturate(100%) invert(97%) sepia(62%) saturate(30%) hue-rotate(241deg) brightness(108%) contrast(100%);
    margin-inline: 4px;
}
footer .media img:hover{
    filter: brightness(0) saturate(100%) invert(39%) sepia(3%) saturate(5761%) hue-rotate(200deg) brightness(87%) contrast(88%);
    cursor: pointer;
}